MONGO_URL=mongodb://localhost:27017
MONGO_DB=pumpdump

# Csak akkor kell, ha az auto trading be lesz kapcsolva
BINANCE_API_KEY=
BINANCE_API_SECRET=
FUTURES_TESTNET=0

# Elso indulaskor bekerul a Mongo config collectionbe, utana ott lehet modositani
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
